<h2 mat-dialog-title>{{ !data.uuid ? "Create" : "Edit" }} New Appointment</h2>
<mat-dialog-content class="form">
  <form [formGroup]="appointmentForm">
    <mat-form-field appearance="outline" class="form__field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      @if (appointmentForm.get('title')?.hasError('required')) {
      <mat-error> Title is required </mat-error>
      } @else if (appointmentForm.get('title')?.hasError('maxLength')) {
      <mat-error> Title cannot exceed 50 characters </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form__field">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (appointmentForm.get('date')?.hasError('required')) {
      <mat-error> Date is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form__field">
      <mat-label>Start Time</mat-label>
      <input matInput type="time" formControlName="startTime" />
      @if (appointmentForm.get('startTime')?.hasError('required')) {
      <mat-error> Start time is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form__field">
      <mat-label>End Time</mat-label>
      <input matInput type="time" formControlName="endTime" />
      @if (appointmentForm.get('endTime')?.hasError('required')) {
      <mat-error> End time is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form__field">
      <mat-label>Color</mat-label>
      <input matInput type="color" formControlName="color"/>
      @if (appointmentForm.get('color')?.hasError('required')) {
      <mat-error> Color is required </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  @if (data.uuid) {
  <button mat-stroked-button (click)="onDeleteClick()">
    <mat-icon >delete</mat-icon>
    Delete
  </button>
  }
  <button
    mat-flat-button
    color="primary"
    [disabled]="!appointmentForm.valid"
    (click)="submitFrom()"
  >
    {{ !data.uuid ? "Save" : "Edit" }}
  </button>
</mat-dialog-actions>
