<div class="calendar">
  <div class="calendar__container" cdkDropListGroup>
    <div class="calendar__header">
      <div>
        @if (currentView === 'month' || true) {
        <h2 class="calendar-month">
          {{
            viewDate.toLocaleString("en-US", { month: "long", year: "numeric" })
          }}
        </h2>
        }
      </div>
      <div class="calendar__controls">
        <button mat-stroked-button (click)="goToToday()">Today</button>
        <button mat-icon-button (click)="goToPrevious()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button (click)="goToNext()">
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-flat-button (click)="selectDate()">Add Appointment</button>
      </div>
    </div>
    <div class="calendar__body">
      <table
        width="100%"
        cellspacing="0"
        cellpadding="0"
        class="calendar__table"
      >
        <thead>
          <tr>
            @for (day of weekDays; track $index) {
            <th>
              {{ day }}
            </th>
            }
          </tr>
        </thead>
        <tbody cdkDropListGroup>
          @for (week of weeks; track $index) {
          <tr>
            @for (date of week; track $index) {
            <td
              [class]="{ 'calendar__table--disable': !isCurrentMonth(date), 'calendar__table--today' : isToday(date) }"
              (click)="selectDate(date)"
            >
              <div class="cell-overlay" tabindex="0"></div>
              <p>{{ date.getDate() }}</p>
              <div class="calendar__appointment">
                @for (appointment of getAppointmentsForDate(date); track $index)
                { @if ($index < 2) {
                <ng-container>
                  <div
                    tabindex="0"
                    class="calendar__appointment--item"
                    [style]="{ backgroundColor: appointment.color }"
                  >
                    <span>{{ appointment.title }}</span>
                  </div>
                </ng-container>
                } }
                @if(getAppointmentsForDate(date).length > 2){
                  <ng-container>
                    <div
                      tabindex="0"
                      class="calendar__appointment--item"
                      (click)="openAppointmentModal(date); $event.stopPropagation()"
                    >
                      <span>+{{ getAppointmentsForDate(date).length - 2 }} more</span>
                    </div>
                  </ng-container>
                }
              </div>
            </td>
            }
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
